.ghform input.spran1:not([required='required']) {
    display: none;
}

.ghform input.spran1:not([required='required']) .emptyreqplace {
    border-color: #f00 !important;
    background: #fdd !important;
    -webkit-box-shadow: inset 0 0 2px #f00 !important;
    box-shadow: inset 0 0 2px #f00 !important
}

.ghform input.spran1:not([required='required']) .ghselectout {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border: 1px solid #bbb;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
    padding: 0 5px;
}

.ghform input.spran1:not([required='required']) .ghselectout .ghselectin {
    margin: -1px -7px;
}

.ghform input.spran1:not([required='required']) .ghselectout .ghselectin select {
    display: block;
    padding: 4px;
    margin: -2px;
    background-color: transparent;
    cursor: pointer;
    font-size: 100%;
    width: 100%;
}

.ghform input.spran1:not([required='required']) .ghselectout .ghselectin select .ghselectlabel {
    display: inline-block;
    vertical-align: top;
    padding: 4px 0;
    font-size: 100%;
    margin-right: 5px
}


.OLform,
.shaterform {
    background: #444;
    padding: 40px 30px 30px;
/*    margin: 0 5%;*/
    border-radius: 7% 7% 1% 1% ;
}

.OLform,
.shaterform {
    position: relative;
    z-index: 1;
}

.OLform:after,
.shaterform:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    z-index: -1
}

.OLform .row > div,
.shaterform .row > div {
    vertical-align: bottom
}

.OLform input,
.shaterform input {
    border-radius: 0;
    margin-bottom: 20px;
    padding: 10px 0;
    color: #fff;
    font-size: 170%;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
}

.OLform input[type='text'],
.shaterform input[type='text'] {
    background: none;
    border: none;
    border-bottom: 1px solid #fab940;
}

.OLform input[data-type='submit'],
.shaterform input[data-type='submit'] {
    background: #777;
    border: 1px solid #fab940;
    transition: .6s;
}

.OLform input[data-type='submit']:hover,
.shaterform input[data-type='submit']:hover {
    background-color: rgba(71, 250, 64, 0.50);
    border: 1px solid #fff;
    transition: .6s;
}

.constructor_menu > .nav-tabs {
    border-bottom: none;
    margin: 20px 0
}

.constructor_razdel_title a {
    display: block;
    padding: 15px 5px;
    font-size: 150%;
    text-transform: uppercase;
    border: 1px solid #444;
    color: #444;
    text-align: center;
    font-weight: 400;
}

.constructor_razdel_title a:focus {
    text-decoration: none
}

.constructor_razdel_title.active a {
    background: #444;
    color: #fab940
}

.constructor_razdel_title.active a {
    position: relative;
    z-index: 1;
}

.constructor_razdel_title.active a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    z-index: -1
}

.constructor_razdel_file:not(.active) {
    display: none
}

.constructor_podrazdel_title {
    font-size: 200%;
    color: #333;
    margin: 20px 0;
    font-weight: 400;
}

.constructor_list_podrazdels {
    padding: 15px 30px 30px;
    background: #444;
    border: 1px solid #fab940;
    color: #fff;
    margin-bottom: 30px;
}

.constructor_list_podrazdels_title {
    font-size: 150%;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px
}

.constructor_list_podrazdels div a {
    color: #fff
}

.constructor_list_podrazdels div.active a {
    color: #fab940
}

.constructor_list_podrazdel_name {
    font-size: 120%;
    display: block;
    margin-bottom: 5px;
}

.constructor_list_podrazdel_name:hover {
    color: #fab940
}

.constructor_list_podrazdel_name:focus {
    text-decoration: none;
}

.constructor_list_podrazdel_name:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 22px;
    margin-right: 6px
}

.constructor_list_item {
    padding-top: 20px;
    margin-bottom: 10px;
}

.constructor_list_item:before {
    content: '';
    display: block;
    margin-left: 50%;
    border-top: 4px solid #fab940
}

.constructor_list_item_img {
    display: block;
    background: center center no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin: -20px 0 10px
}

.constructor_list_item_img:before {
    content: '';
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    padding-top: 100%;
    display: block
}

.constructor_list_item_count {
    border: 1px solid #fab940;
    width: 50%;
    margin: 0 25%;
    border-radius: 0;
    padding: 0 5px;
    text-align: center;
    border-radius: 20%;
}

.constructor_list_item_name {
    color: #000;
    font-weight: 400;
    margin: 10px 0;
    font-size: 1.3em;
}

.constructor_list_item_name:first-letter {
    color: #fa6440;
    font-size: 1.5em;
    font-family: 'Kurale', sans-serif;
}

.constructor_list_item_name:after {
    content: '';
    display: block;
    width: 30%;
    border-top: 1px solid #ccc;
    margin: 10px 0
}

.constructor_list_item_consist {
    font-size: 1em;
    font-style: italic;
}

.constructor_list_item_portion,
.constructor_list_item_price {
    margin-top: 10px;
    font-style: italic;
}

.constructor_list_item_price {
    font-weight: 600;
    border: 1px solid #fab940;
    padding: 5px 10px;
    border-radius: 20%;
}

.constructor_result_menu_number_person {
    margin-bottom: 10px;
    font-size: 100%;
}

.constructor_result_menu_number_person input {
    margin-left: 10px;
    width: 50px;
    text-align: center;
    border: 1px solid #fab940;
    border-radius: 0;
    padding: 5px;
    font-size: 100%;
    border-radius: 20%;
}

.constructor_result_menu_icons {
    color: #777;
    font-size: 120%;
}

.constructor_result_menu_icons i {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer
}

.constructor_result_menu_title {
    color: #333;
    font-size: 200%;
    margin: 20px 0 10px
}

.constructor_result_menu_list {
    background: #525252;
    color: #fff;
    padding: 10px 15px;
    overflow: hidden;
    margin: 0 5%;
    border-radius: 5% 7% 5% 7%;
}

.constructor_result_menu_list_namecols {
    font-size: 90%;
    font-style: italic;
}

.constructor_result_menu_list_title {
    color: #c6b08c;
    font-size: 100%;
    font-weight: 400;
    margin: 15px 0 10px
}

.constructor_result_menu_list_item {
    margin-bottom: 5px;
    font-size: 100%
}

.constructor_result_menu_list .row > :nth-child(2),
.constructor_result_menu_list .row > :nth-child(3),
.constructor_result_menu_list .row > :nth-child(4) {
    text-align: center;
}

.constructor_result_menu_list .row input {
    width: 50%;
    margin: 0 25%;
    border-radius: 0;
    padding: 5px;
    height: 25px;
    text-align: center;
    border-color: #fab940;
    background-color: #6a6a6a;
    color: #fab940
}

.constructor_result_menu_list_all {
    font-size: 140%;
    font-weight: normal;
    color: #fab940;
    text-decoration: underline;
}

.constructor_result_menu_list_service,
.constructor_result_menu_list_person {
    font-size: 130%;
    font-weight: normal;
    font-style: italic
}

.constructor_result_menu_reset {
    border: 1px solid #fab940;
    font-size: 120%;
    padding: 5px 15px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    background: none;
    margin-top: 15px;
    display: none;
    transition: .6s;
}

@media print {
    
    html,
    body {
        width: auto !important;
        height: auto !important;
        background: none !important;
    }
    
    .bcrumb,
    .pageup,
    .no_print {
        display: none !important
    }
    .yes_print {
        margin: 0 !important;
        padding: 0 !important;
        width: auto !important;
        height: auto !important;
        min-height: auto !important;
        background: none !important;
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        float: none !important;
        position: static !important;
    }
}

.wrapper {
    font-family: 'Kurale', sans-serif;
    color: #4e504f;
    font-size: 16px;
    font-weight: 300
}

a {
    color: inherit;
}

a li {
    margin-left: 20px
}


.tophead,
.site_title,
h1,
h2,
h3 {
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
    font-size: 180%;
    margin: 0px 0px 40px 0px;
    font-family: 'Kurale', sans-serif;
}

