<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /
    RewriteCond %{HTTP_HOST} ^www.unet90.github.io
    RewriteRule (.*) https://unet90.github.io/$1 [R=301,L]
</IfModule>

ErrorDocument 404 /404.html 

ServerSignature Off
AddDefaultCharset UTF-8